---
import { Image } from "@astrojs/image/components";
import image01 from "../assets/01.jpg";
import image02 from "../assets/02.jpg";
import image03 from "../assets/03.jpg";
import image04 from "../assets/04.jpg";
import image05 from "../assets/05.jpg";
import image06 from "../assets/06.jpg";
---

<div class='grid grid-cols-3 lg:grid-cols-6'>
	<Image src={image01} width={320} height={240} fit='cover' alt='' />
	<Image src={image02} width={320} height={240} fit='cover' alt='' />
	<Image src={image03} width={320} height={240} fit='cover' alt='' />
	<Image src={image04} width={320} height={240} fit='cover' alt='' />
	<Image src={image05} width={320} height={240} fit='cover' alt='' />
	<Image src={image06} width={320} height={240} fit='cover' alt='' />
</div>
<section class='py-16 px-5 text-center'>
	<h2 class='text-3xl font-extralight mb-16'>
		Shoes for every situation and weather
	</h2>
	<p class='max-w-2xl mx-auto'>
		The range of barefoot shoes covers any occasion and season. We offer all
		types of shoes, including ballerinas, flats, sandals, sneakers, shoes
		for running, for nature and social events, but also shoes for cities. In
		addition, our barefoot shoes are designed so that your feet have maximum
		comfort and support. Choose from our wide selection and enjoy your
		favorite activities in comfort regardless of the weather!
	</p>
</section>
